.editables {
  display: flex;
  flex-direction: column;
}

.box-label {
  margin-top: 0.5rem;
}

textarea {
  width: 100%; /* Set the width to 100% of its container */
  min-height: 100px; /* Set a minimum height to ensure it's not too small */
  resize: vertical; /* Allow vertical resizing */
}

/* Style for form labels */
.box-label {
  font-weight: bold;
}

/* Style for input fields */
input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style for the button to remove genres */
button.remove-genre-btn {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 12px;
}

/* Style for the dropdown menu */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 8px 0;
  z-index: 1;
  display: flex;
}

.dropdown-item {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #ddd;
}

/* Style for the button to add genres */
.add-genre-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 12px;
}
