<nav class="stellar-navbar">
  <div class="nav-test">
    <div class="brand-name">
      <a routerLink="/">OtakuVerse</a>
    </div>

    <div class="nav-links">
      <div class="log">
        @if (authService.isLoggedIn()){
        <a class="button-link" (click)="logout()">Logout</a>
        }@else {
        <a class="button-link" routerLink="/login">Login</a>
        }
      </div>

      @if (!authService.isLoggedIn()){
      <div class="sign">
        <a class="button-link" routerLink="/signup">Sign Up</a>
      </div>
      }
    </div>
  </div>

  <div class="navigation-bar">
    <div
      class="nav-item"
      (mouseenter)="toggleDropdown(true)"
      (mouseleave)="toggleDropdown(false)"
    >
      Anime
      <div class="dropdown">
        @if(isDropdownOpen){
        <a>Anime Search</a>
        <a>Top Anime</a>
        <a>Seasonal Anime</a>}
      </div>
    </div>
    <div
      class="nav-item"
      (mouseenter)="toggleDropdown(true)"
      (mouseleave)="toggleDropdown(false)"
    >
      Manga
      <div class="dropdown">
        @if(isDropdownOpen){
        <a>Manga Search</a>
        <a>Top Manga</a>
        }
      </div>
    </div>
    <div
      class="nav-item"
      (mouseenter)="toggleDropdown(true)"
      (mouseleave)="toggleDropdown(false)"
    >
      Community
      <div class="dropdown">
        @if(isDropdownOpen){
        <a>Forums</a>
        <a>Blogs</a>
        <a>Users</a>}
      </div>
    </div>

    <div
      class="nav-item"
      (mouseenter)="toggleDropdown(true)"
      (mouseleave)="toggleDropdown(false)"
    >
      Industry
      <div class="dropdown">
        @if(isDropdownOpen){
        <a>News</a>
        <a>Featured Articles</a>
        <a>People</a>
        <a>Characters</a>
        <a>Companies</a>}
      </div>
    </div>

    <div
      class="nav-item"
      (mouseenter)="toggleDropdown(true)"
      (mouseleave)="toggleDropdown(false)"
    >
      Help
      <div class="dropdown">
        @if(isDropdownOpen){
        <a>About</a>
        <a>Support</a>
        <a>Advertising</a>
        <a>FAQ</a>
        <a>Report</a>
        <a>Staff</a>}
      </div>
    </div>
  </div>
</nav>
