.stellar-navbar {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: white;
}

.nav-test {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin: 0.5rem;
  margin-bottom: 0px;
  padding-bottom: 10px;
}
.stellar-navbar .brand-name a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #007bff;
  text-decoration: none;
}

.stellar-navbar .nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.stellar-navbar .nav-links a,
.stellar-navbar .nav-links button {
  background: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.stellar-navbar .nav-links a:hover,
.stellar-navbar .nav-links button:hover {
  color: black;
}

.navigation-bar {
  padding-left: 2rem;
  background-color: #007bff;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

// .log {
//   border: solid 2px #007bff;
//   width: 105px;
//   text-align: center;
//   border-radius: 4px;
//   outline: none;
// }

.sign {
  background-color: #007bff;
  width: 105px;
  border-radius: 4px;
  text-align: center;
  border: solid 1px #007bff;
}

.sign a {
  color: white;
}

.log {
  width: 105px;
  text-align: center;
  border-radius: 4px;
  outline: none;
  color: #007bff;
  border: solid 2px #007bff;
}

.log a {
  background: none;
  border: none; /* Remove button border */
  width: 100%; /* Ensure button fills container width */
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.button-link:hover {
  color: black;
}
