<form [formGroup]="castForm" (ngSubmit)="onCreateCrew()">
  <table>
    <tr>
      <td>Person:</td>
      <td>
        <input type="text" formControlName="person_name" />
        @if(searchResults.length > 0){
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Select Person
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            @for(person of searchResults; track person.id){
            <button class="dropdown-item" (click)="selectPerson(person)">
              {{ person.first_name }} {{ person.last_name }}</button
            >}
          </div>
        </div>
        }
      </td>
    </tr>
    <tr>
      <td>Role:</td>
      <td><input type="text" formControlName="role" /></td>
    </tr>
    <tr>
      <td>Character:</td>
      <td><input type="text" formControlName="character" /></td>
    </tr>
  </table>
  <button type="submit">Submit Staff Entry</button>
</form>
