<nav class="stellar-navbar">
  <div class="nav-test">
    <div class="brand-name">
      <a routerLink="/">OtakuVerse</a>
    </div>

    <div class="nav-links">
      <div class="log">
        @if (authService.isLoggedIn()){
        <a class="button-link" (click)="logout()">Logout</a>
        }@else {
        <a class="button-link" routerLink="/login">Login</a>
        }
      </div>

      @if (!authService.isLoggedIn()){
      <div class="sign">
        <a class="button-link" routerLink="/signup">Sign Up</a>
      </div>
      }
    </div>
  </div>

  <div class="navigation-bar">
    <div class="nav-item-container">
      <div
        class="nav-item"
        (mouseenter)="toggleDropdown(0, true)"
        (mouseleave)="toggleDropdown(0, false)"
      >
        Anime
        <div class="dropdown">
          @if(dropdownStates[0]){
          <a class="drop-link" routerLink="/anime">Anime Search</a>
          <a class="drop-link" routerLink="/top-anime">Top Anime</a>
          <a class="drop-link" routerLink="anime/seasonal">Seasonal Anime</a>
          <a class="drop-link" routerLink="/create-anime">Create Entry</a>}
        </div>
      </div>
    </div>
    <div class="nav-item-container">
      <div
        class="nav-item"
        (mouseenter)="toggleDropdown(1, true)"
        (mouseleave)="toggleDropdown(1, false)"
      >
        Manga
        <div class="dropdown">
          @if(dropdownStates[1]){
          <a class="drop-link">Manga Search</a>
          <a class="drop-link">Top Manga</a>
          <a class="drop-link">Create Entry</a>
          }
        </div>
      </div>
    </div>
    <div class="nav-item-container">
      <div
        class="nav-item"
        (mouseenter)="toggleDropdown(2, true)"
        (mouseleave)="toggleDropdown(2, false)"
      >
        Community
        <div class="dropdown">
          @if(dropdownStates[2]){
          <a class="drop-link">Forums</a>
          <a class="drop-link">Blogs</a>
          <a class="drop-link">Users</a>}
        </div>
      </div>
    </div>
    <div class="nav-item-container">
      <div
        class="nav-item"
        (mouseenter)="toggleDropdown(3, true)"
        (mouseleave)="toggleDropdown(3, false)"
      >
        Industry
        <div class="dropdown extended">
          @if(dropdownStates[3]){
          <a class="drop-link">News</a>
          <a class="drop-link">Featured Articles</a>
          <a class="drop-link">People</a>
          <a class="drop-link">Characters</a>
          <a class="drop-link">Companies</a>}
        </div>
      </div>
    </div>
    <div class="nav-item-container">
      <div
        class="nav-item"
        (mouseenter)="toggleDropdown(4, true)"
        (mouseleave)="toggleDropdown(4, false)"
      >
        Help
        <div class="dropdown">
          @if(dropdownStates[4]){
          <a class="drop-link">About</a>
          <a class="drop-link">Support</a>
          <a class="drop-link">Advertising</a>
          <a class="drop-link">FAQ</a>
          <a class="drop-link">Report</a>
          <a class="drop-link">Staff</a>}
        </div>
      </div>
    </div>
  </div>
</nav>
