@if(profile){
<div>
  <h1>User Profile</h1>
  <div>
    <p><strong>ID:</strong> {{ profile.id }}</p>
    <p><strong>Username:</strong> {{ profile.user.username }}</p>
    <p><strong>Bio:</strong> {{ profile.bio }}</p>
    <p><strong>Favorites:</strong> {{ profile.favorites }}</p>
    <p>
      <strong>Profile Photo:</strong>
      <img
        [src]="
          profile.profile_photo_url ||
          'https://www.shutterstock.com/image-vector/default-ui-image-placeholder-wireframes-260nw-1037719192.jpg'
        "
        alt="Profile Photo"
      />
    </p>
    <h2>Anime Lists</h2>
    <ul>
      @for(anime of profile.user.anime_lists; track $index){
      <li>
        {{ $index }}
        <p><strong>Anime ID:</strong> {{ anime.anime_id }}</p>
        <p><strong>User ID:</strong> {{ anime.user_id }}</p>
        <p><strong>List Type:</strong> {{ anime.list_type }}</p>
        <p><strong>Start Date:</strong> {{ anime.start_date }}</p>
        <p><strong>End Date:</strong> {{ anime.end_date }}</p>
        <p>
          <strong>Episodes Watched:</strong>
          {{ anime.episodes_watched }}
        </p>
      </li>
      <button (click)="deleteMe(anime)">Delete This</button>
      }
    </ul>
  </div>
</div>
}
