@if(profile){
<div>
  <h1>User Profile</h1>
  <div>
    <p><strong>ID:</strong> {{ profile.id }}</p>
    <p><strong>Username:</strong> {{ profile.user.username }}</p>
    <p><strong>Bio:</strong> {{ profile.bio }}</p>
    <p><strong>Favorites:</strong> {{ profile.favorites }}</p>
    <p>
      <strong>Profile Photo:</strong>
      <img
        [src]="
          profile.profile_photo_url ||
          'https://www.shutterstock.com/image-vector/default-ui-image-placeholder-wireframes-260nw-1037719192.jpg'
        "
        alt="Profile Photo"
      />
    </p>
    <h2>Anime Lists</h2>
    <ul>
      @for(list of profile.user.anime_lists; track profile.user.anime_lists){
      <li>
        <p>
          <strong>Anime ID:</strong> {{ profile.user.anime_lists.anime_id }}
        </p>
        <p><strong>User ID:</strong> {{ profile.user.anime_lists.user_id }}</p>
        <p>
          <strong>List Type:</strong> {{ profile.user.anime_lists.list_type }}
        </p>
        <p>
          <strong>Start Date:</strong> {{ profile.user.anime_lists.start_date }}
        </p>
        <p>
          <strong>End Date:</strong> {{ profile.user.anime_lists.end_date }}
        </p>
        <p>
          <strong>Episodes Watched:</strong>
          {{ profile.user.anime_lists.episodes_watched }}
        </p>
      </li>
      }
    </ul>
  </div>
</div>
}
