<form [formGroup]="animeForm" (ngSubmit)="onCreateAnime()">
  <table>
    <tr>
      <td>English Title:</td>
      <td><input type="text" formControlName="english_title" /></td>
    </tr>
    <tr>
      <td>Romanji Title:</td>
      <td><input type="text" formControlName="romanji_title" /></td>
    </tr>
    <tr>
      <td>Start Air Date:</td>
      <td><input type="date" formControlName="start_air_date" /></td>
    </tr>
    <tr>
      <td>End Air Date:</td>
      <td><input type="date" formControlName="end_air_date" /></td>
    </tr>
    <tr>
      <td>Number of Episodes:</td>
      <td><input type="text" formControlName="number_of_episodes" /></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><textarea formControlName="description"></textarea></td>
    </tr>
    <tr>
      <td>Season:</td>
      <td><input type="text" formControlName="season" /></td>
    </tr>
    <tr>
      <td>Studio:</td>
      <td><input type="text" formControlName="studio" /></td>
    </tr>
    <tr>
      <td>Source:</td>
      <td><input type="text" formControlName="source" /></td>
    </tr>
    <tr>
      <td>Duration:</td>
      <td><input type="text" formControlName="duration" /></td>
    </tr>
    <tr>
      <td>Age Rating:</td>
      <td><input type="text" formControlName="age_rating" /></td>
    </tr>
    <tr>
      <td>Genres:</td>
      <td>
        @if(genreIds.length >0){
        <div formArrayName="genreIds">
          @for(genre of genres; track genre.id){

          <input
            type="checkbox"
            [formControlName]="$index"
            [value]="genre.id"
          />
          {{ genre.name }}
          }
        </div>
        }
      </td>
    </tr>
    <div>
      <label for="cover_photo">Cover Image</label>
      <input type="file" (change)="onFileSelected($event)" id="cover_photo" />
    </div>
    <button type="submit">Create Anime</button>
  </table>
</form>
