<div>
  <h1>Anime Details</h1>
  <div>
    <p><strong>English Title:</strong> {{ anime.english_title }}</p>
    <p><strong>Romanji Title:</strong> {{ anime.romanji_title }}</p>
    <p><strong>Start Air Date:</strong> {{ anime.start_air_date }}</p>
    <p><strong>End Air Date:</strong> {{ anime.end_air_date }}</p>
    <p><strong>Number of Episodes:</strong> {{ anime.number_of_episodes }}</p>
    <p><strong>Description:</strong> {{ anime.description }}</p>
    <p><strong>Season:</strong> {{ anime.season }}</p>
    <p><strong>Studio:</strong> {{ anime.studio }}</p>
    <p><strong>Source:</strong> {{ anime.source }}</p>
    <p><strong>Duration:</strong> {{ anime.duration }}</p>
    <p><strong>Age Rating:</strong> {{ anime.age_rating }}</p>
    <p>
      <strong>Genres:</strong>
      @for(genre of anime.genres; track genre.id){
      <span>
        {{ genre.name }}

        @if(genre !== anime.genres[anime.genres.length - 1]){<span>, </span>
        }</span
      >}
    </p>
    <br />
    <div class="cast">
      <h2>Cast and Crew</h2>
      <h6>
        <a
          [routerLink]="['/anime', anime.id, 'cast-creation']"
          routerLinkActive="router-link-active"
        >
          Edit
        </a>
      </h6>
    </div>
    <br />
    <ul>
      @for(castAndCrew of anime.cast_and_crews; track castAndCrew.id){
      <li>
        <p>Character: {{ castAndCrew.character }}</p>
        <p>Role: {{ castAndCrew.role }}</p>
        <p>
          Person: {{ castAndCrew.person!.first_name }}
          {{ castAndCrew.person!.last_name }}
        </p>
        @if(castAndCrew.person!.language !== null){
        <p>Release: {{ castAndCrew.person!.language }}</p>
        }
        <br />
      </li>
      }
    </ul>
    <div class="reviews">
      <h2>Reviews</h2>
      <h6>
        <a
          [routerLink]="['/anime', anime.id, 'create-review']"
          routerLinkActive="router-link-active"
          >Create Review</a
        >
      </h6>
    </div>
    <br />
    <ul>
      @for(review of anime.reviews; track review.id){
      <li>
        <p class="username">
          Username:
          <a [routerLink]="['/profile', review.user.username]">
            {{ review.user.username }}
          </a>
        </p>
        <p class="review-text">{{ review.content }}</p>
        <br />
      </li>
      }
    </ul>
    <div class="anime-cover-photo">
      <img [src]="anime.cover_photo_url || ''" alt="" />
    </div>
  </div>
</div>
