.reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
  margin-left: 0.5rem;
}

.review-text {
  white-space: pre-wrap;
}

.username {
  font-weight: bold;
}

.cast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
  margin-left: 0.5rem;
}
