.reviewContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 100vw;
}

.input-group {
  margin-bottom: 20px; /* Add margin between each input group */
}

.review-text {
  white-space: pre-wrap;
  width: 100%;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

select {
  padding: 5px;
  border-radius: 5px;
}

/* Additional styles for the Recommend dropdown */
.recommend-select {
  width: 100%; /* Ensure the dropdown takes full width */
}
