<div class="reviewContainer">
  <form [formGroup]="reviewForm" (ngSubmit)="onSubmitReview()">
    <div class="input-group">
      <p>Review:</p>
      <textarea
        formControlName="content"
        rows="15"
        cols="75"
        class="review-text"
      ></textarea>
    </div>
    <div class="input-group">
      <p>Recommend:</p>
      <select formControlName="recommend" class="recommend-select">
        <option value="recommend" id="recommend">Recommended</option>
        <option value="mixed_feelings" id="mixed_feelings">
          Mixed Feelings
        </option>
        <option value="do_not_recommend" id="do_not_recommend">
          Do Not Recommend
        </option>
      </select>
    </div>
    <div class="button-group">
      <button type="submit">Submit Review</button>
    </div>
  </form>
</div>
