/* Search container */
.search-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Search bar */
.search-bar {
  margin-bottom: 20px;
}

.search-bar input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Alphabet filter */
.alphabet-filter {
  margin-top: 10px;
}

.alphabet-filter span {
  margin-right: 5px;
  cursor: pointer;
}

/* Divider for Genre */
.genre-divider {
  margin-bottom: 20px;
}

.genre-divider h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.genre-divider ul {
  list-style: none;
  padding: 0;
}

.genre-divider li {
  margin-bottom: 5px;
  cursor: pointer;
}

/* Divider for Season */
.season-divider h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.season-divider ul {
  list-style: none;
  padding: 0;
}

.season-divider li {
  margin-bottom: 5px;
  cursor: pointer;
}

.selected {
  font-weight: bolder;
  font-size: larger;
}

/* Style for the dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Style for the dropdown button */
.dropdown .dropdown-toggle {
  background-color: #f8f9fa; /* Background color */
  color: #000000; /* Text color */
  border: 1px solid #ced4da; /* Border */
  padding: 8px 12px; /* Padding */
  font-size: 16px; /* Font size */
  cursor: pointer;
}

/* Style for the dropdown menu */
.dropdown .dropdown-menu {
  position: absolute;
  background-color: #ffffff; /* Background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow */
  border: 1px solid #ced4da; /* Border */
  padding: 8px 0; /* Padding */
  width: calc(500% + 2px); /* Full width of the search bar */
  left: -1px; /* Adjust position to align with the search bar */
  z-index: 1; /* Ensure the dropdown menu is above other elements */
}

/* Style for dropdown menu items */
.dropdown .dropdown-menu .dropdown-item {
  display: block;
  padding: 8px 12px;
  color: #343a40; /* Text color */
  text-decoration: none;
}

/* Style for hover effect on dropdown menu items */
.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #f8f9fa; /* Background color on hover */
}

.dropdown-menu {
  width: 100%;
}

.dropdown-item {
  width: 100%;
}
